<a href="https://colab.research.google.com/github/kakashi22h/Python-Basics/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

Python Functions are a block of statements that does a specific task. The idea is to put some commonly or repeatedly done task together and make a function so that instead of writing the same code again and again for different inputs, we can do the function calls to reuse code contained in it over and over again.

Lets create a function(with docstring)


syntax :

def functionname (parameter):

        " docstring for
        fucntion info"

        body of function

        return function

functionName(input) # callin the function

In [2]:
def is_even(num):
  """
  This function returns if a given number is odd or even
  input - any valid integer
  output - odd/even
  """
  if num % 2 == 0:
    return 'even'
  else:
    return 'odd'

In [3]:
# function
# function_name(input)

for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

# Parameters Vs Arguments

# Types of Arguments  

    * Default Argument

    * Positional Argument
    
    * Keyword Argument

In [4]:
# Default Argument
def power(a=1,b=1):
  return a**b

In [5]:
power(2,2)

4

In [7]:
# Positional argument
power(2,3)

9

In [8]:
# Keyword arguments
power(b=3,a=5)

125

*agrs and **kwargs

*args and **kwargs are special python keywords that are used to pass the variable length of arguments to a function

In [11]:
# *args
# allows us to pass a variable number of non-keyword argument to a function

def multiply(*args):
  product = 1
  for i in args:
    product *= i

  return product

In [13]:
multiply(2,3,4)

24

In [16]:
# **kwargs
# allows us to pass any number of keyword arguments.
# keywords arguments means that they contain a key-value pair like a Python dictionary.

def display(**kwargs):

  for (key,value) in kwargs.items():
    print(key,'->',value)

In [17]:
display(India = 'Delhi', SriLanka = 'colambo')

India -> Delhi
SriLanka -> colambo

# Points to remember while using *args and **kwargs

  * Order of the arguments matters(normal -> *args -> **kwargs)

  * The words "args" and "kwargs" are only a convention, you can use any name of your choice.

# Variable scope

In [ ]:
def g(y):
  print(x)
  print(x+1)

x = 5
g(x)
print(x)

In [ ]:
def f(y):
  x = 1
  x += 1
  print(x)

x = 5
f(x)
print(x)

In [ ]:
def h(y):
  x += 1
x = 5
h(x)
print(x)

# we can not change global variable from local function

In [ ]:
def h(y):
  global x
  x += 1

x = 5
h(x)
print(x)

In [ ]:
def f(x):
  x = x + 1
  print('in f(x): x =', x)
  return x

x = 3
z = f(x)
print('in main program scope:', z)
print('in main program scope:', x)

# Nested Function

In [6]:
def f():
  def g():
    print('inside function g')
  g()
  print('inside function f')

In [7]:
f()

inside function g
inside function f

# Fuunctions are 1st class citizens

In [8]:
# type and id
def square(num):
  return num**2

type(square)

function

In [10]:
# reassign

x = square
x(3)

9

In [ ]:
# deleting a function
del square

In [ ]:
# storing
l = [1,2,3,4,square]

In [ ]:
# function as argument

# Lambda function

In [11]:
a = lambda x : x**2
a(4)

16

In [14]:
a = lambda x,y : x+y
a(4,5)

9

In [15]:
a = lambda s: 'a' in s
a('hay')

True

In [16]:
a = lambda x : 'even' if x%2 == 0 else 'odd'
a(5)

'odd'

# Higher order function

In [17]:
def square(x):
  return x**2

def transform(f,l):
  output = []
  for i in l:
    output.append(f(i))

  print(output)

l= [1,2,3,4,5]
transform(square,l)

[1, 4, 9, 16, 25]