<a href="https://colab.research.google.com/github/kakashi22h/Python-Basics/blob/main/tuple_set_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple
A tuple in Python is similer to a list. The difference between the two is that we can not change the elemens of a tuple once it is assigned whereas we can change the elements of a list.

Characters

  * Ordered
  * Unchanged
  * Allows duplicate

# Creating Tuple

In [ ]:
# empty
t1 = ()
print(t1)

# create a tuple with single item
t2 = (2,)
print(t2)

# homo
t3 = (1,2,3,4)

# 2d
t4 = (1,2,3,(4,5))
print(t4)

# using type onversion
t6 = tuple('hello')
print(t6)

()
(2,)
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

# Accessing tuple

  * Indexing
  * Slicing

In [ ]:
# indexing
t3
print(t3[0])
print(t3[-1])

# Slicing
print(t3[0:4])
print(t3[2:])

1
4
(1, 2, 3, 4)
(3, 4)

# Adding item

In [ ]:
print(t3)
# we can not add item or delete items to a tuple

(1, 2, 3, 4)

# Deletion

In [ ]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

# Operations on Tuples

In [ ]:
#  + and *
t1 = (1,2,3)
t2 = (4,5,6)
print(t1+t2)

print(t1*3)

# membership
1 it t1

# iteration
for i in t1:
  print(i)

# Functions in tuple

In [ ]:
t = (1,2,3,4)

len(t)
sum(t)
min(t)
max(t)
sorted(t)
sorted(t,reverse=True)

In [ ]:
# count
t.count(1)

In [ ]:
# index
t.index(1)

# Special syntax

In [ ]:
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a = 1
b = 2

a,b = b,a

print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [ ]:
# zip
a = (1,2,3,4)
b = (5,6,7,8)

list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

# Sets in Python

A set in Python is an unordered collection of unique elements. Sets are mutable, meaning elements can be added or removed after creation, but individual elements cannot be changed directly.
Key Characteristics
Uniqueness: Sets automatically discard duplicate items.
Unordered: Items do not have a defined order, and this order may change every time the set is used.
Unindexed: You cannot access items by referring to an index or a key (e.g., my_set[0]).
Mutable: You can modify the set by adding or removing elements. There is also an immutable version called frozenset.
Hashable Elements: Elements within a set must be immutable (hashable), such as numbers, strings, or tuples. Lists and dictionaries cannot be set elements

# Creating Sets

In [ ]:
# empty
s = set()
print(s)

# 1d and 2d

s1 = {1,2,3}
print(s1)

# we can not create 2d sets

# homo and hetro
s1 = {1,2.5,'Tt,True'}
print(s1)

# using Type conversion
s1 = set([1,2,3])
print(s1)

Accessing Items

In [ ]:
s1 = {1,2,3,4}

# we can not access items in sets because it in unordered
# we can not edit too because it in unordered

# Adding item

In [ ]:
s = {1,2,3,4}
# add
s.add(5)
print(s)

# update
s.update([6,7,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

# Deletion

In [ ]:
# del
s = {1,2,3,4}
print(s)

del s
print(s)

# discrad
s.discard(5)
print(s)

# remove
s.remove(4)
print(s) # if value not esists it'll give error

# pop
s.pop() # will remove randomly any item

# clear
s.clear() # it'll clear whole set

# Set Operations

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# Union(|)
s1 | s2

# Intersaction (&)
s1 & s2

# Difference

s1 - s2

# Symmetric diff

s1 ^ s2

# Membership Test

1 in s1

# Iteration

for i in s1:
  print(i)

# Functions in sets

In [ ]:
# len/sum/min/max/sorted
s = {1,2,3,4,5}

len(s)
sum(s)
min(s)
max(s)
sorted(s)

In [ ]:
# union/update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.union(s2)

s1.update(s2)

In [ ]:
# intersaction / intersaction update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)

In [ ]:
# Difference / difference update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)

In [ ]:

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_ifference_update(s2)

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.isdisjoint(s2)

s1.issubset(2)

s1.issuperset(s2)

In [ ]:
# copy
s1 = {1,2,3,4}
s2 = s1.copy()

# Frozenset

Frozen set is just an immutable version of python set object

In [ ]:
# create frozenset

fs = frozenset([1,2,3])

# set Comprehension

In [ ]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

# Creating Dictionary

In [ ]:
# empty
d = {}
print(d)

# 1d dictionary
d1 = {'name':'nitish','gender':'male'}
print(d1)

# 2d
d2 = {
    'name':'nitish',
    'college':'but',
    'sem':4,
    'subjects':{
        'mths':50,
        'english':60,
        'dsa':80
    }
}

# using sequence and dict function
d4 = dict([(1,1),(2,2)])
# You can not have duplicate keys
# mutable items as key not allowed

{}
{'name': 'nitish', 'gender': 'male'}

Accessing Items

In [ ]:
# indexing is not allowed
my_dict = {'name':'kaka','age':65}

my_dict['name']

# 2 method
my_dict.get('age')

Adding key - value pairs

In [ ]:
d4['name'] = 'youuish'
d4['gender'] = 'male'

d4

{1: 1, 2: 2, 'name': 'youuish', 'gender': 'male'}

# Remove key_value pairs

In [ ]:
d = {1: 1, 2: 2, 'name': 'youuish', 'gender': 'male'}

# pop
d.pop(3)
print(d)

# popitem
d.popitem() # will delete last key value pair

# del
del d['name']

# clear
d.clear()

# Editing key-value pairs

In [ ]:
d2 = {
    'name':'nitish',
    'college':'but',
    'sem':4,
    'subjects':{
        'mths':50,
        'english':60,
        'dsa':80
    }
}


d2['sem'] = 5
d2

d2['subjects']['dsa'] = 80
d2

{'name': 'nitish',
 'college': 'but',
 'sem': 5,
 'subjects': {'mths': 50, 'english': 60, 'dsa': 80}}

# Dictionary Operations

  * membership
  * Iteration

In [ ]:
# Membership
'name' in d2

True

In [ ]:
# Iteration
d = {'name':'nitish','gender':'male'}
for i in d:
  print(i,d[i])

name nitish
gender male

# Dictionary Functions

In [ ]:
d = {'name':'nitish','gender':'male'}
len(d)
sorted(d)
min(d)
max(d)

In [ ]:
# item/key/values

print(d.items())

print(d.keys())

print(d.values())

In [ ]:
# update

d1 = {1:2,3:4}
d2 = {5:6,7:8}

d1.update(d2)

# Dictionary Comprehansion

In [ ]:
# print

{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}